@model ICollection<SuperSold.UI.AspDotNet.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if(User.Identity.IsAuthenticated) {
        <h1 class="display-4">Welcome, @(User.Identity.Name)!</h1>
    } else {
        <h1 class="display-4">Welcome</h1>
    }

    <p>
        This site has been made as a learning exercise. By using it, you understand that the products being sold aren't real.
    </p>

</div>

<div class="container">
    <input type="text" id="searchTextBox" name="searchText" placeholder="search"/>
    <a class="btn btn-primary" id="searchButton"></a>
</div>

<br/>

@if(!Model.Any()) {
    <div class="container">
        <p>
            There are no more results. @Html.ActionLink("Go back.", "Index", "Home", new { page = (int)ViewBag.Page - 1 })
        </p>
    </div>

    return;
}

@if((int)ViewBag.Page > 0) {
    <div>
        @Html.ActionLink("prev", "Index", "Home", new{ page = (int)ViewBag.Page - 1 })
    </div>
}

<div class="table">
    @foreach(var item in Model) {
        <div class="row" style="border:solid; border-width:2px; border-radius:5px;">
            @await Html.PartialAsync("_BuyableProductRowPartial", item)
        </div>
    }
</div>

@if(Model.Count >= (int)ViewBag.PageLength) {
    <div class="text-end">
        @Html.ActionLink("next", "Index", "Home", new{ page = (int)ViewBag.Page + 1 })
    </div>
}

<script>

    document.getElementById("searchButton").onclick = function() {
        var search = $('#searchTextBox').val();
        window.location = '@Url.Action("Search", "Home")?page=0&search=' + search;
    }

</script>