@using Microsoft.AspNetCore.Html;
@using SuperSold.UI.AspDotNet.Extensions;
@using SuperSold.UI.AspDotNet.ViewRouting;
@using Microsoft.AspNetCore.Antiforgery;
@inject IAntiforgery antiForgery;

@model SuperSold.UI.AspDotNet.Models.Product

@{
    string id = Model.Id.ToValidHtml();
    var tokenset = antiForgery.GetAndStoreTokens(Context);
}

<head>
    <link rel="stylesheet" href="~/css/productRow.css"/>
</head>

<style>

    .mid-container {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        height:100%;
        width:stretch;
        border-left:solid;
    }

    .texts-row {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        height:stretch;
    }

    .buttons-row {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    .title{
        min-width:40%;
    }

    .counterInput {
        min-width:20%;
        max-width:50%;
        padding:0px 0px 0px 5px;
    }

</style>

<div class="container-row">

    <!--image-->
    <div class="image-row-container">
        <img class="image-row" src="@Html.DisplayFor(x => x.UserImgUrl)" alt="Product image"/>
    </div>

    <!--Title and counter-->
    <div class="mid-container">

        <div class="texts-row">
            <h2 class="title">@Html.DisplayFor(x => x.Title)</h2>
            <p class="price"><b>@Html.DisplayFor(x => x.Price)€</b></p>
        </div>

        <!--Counter-->
        <div class="buttons-row">
            <div>
                <input class="counterInput" type="number" id="counterTextInput" value="1" />
                <button type="button" id="updateCounterBtn">Update</button>
            </div>

            <div>
                <button type="button" id="moveToWishlistBtn@(id)">Move To Wishlist</button>
                <button type="button" id="removeBtn@(id)">Remove</button>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    $("#removeBtn@(id)").click(function() {

        console.log("removing  @(Model.Id) from cart");
        
        $.ajax({
            url: '@(Url.Cart().Remove())',
            headers: { "@(tokenset.HeaderName)": "@(tokenset.RequestToken)" },
            type: 'POST',
            data: { "productId": "@(Model.Id)",  },
            cache: false
        }).done(function(result) {

            console.log("successfully removed @(Model.Id) from cart");
            pullUp($("#@(id).item-row"));
        }).fail(function(error) {

            if (error.status == 404) {
                alert("This product has already been removed.");
                pullUp($("#@(id).item-row"));
            } else {
                console.error(error);
            }

        });

    });

</script>