@model SuperSold.UI.AspDotNet.Models.Product
@using Microsoft.AspNetCore.Antiforgery;
@using SuperSold.UI.AspDotNet.Extensions;
@using SuperSold.UI.AspDotNet.ViewRouting;
@inject IAntiforgery antiForgery;

@{
    string id = Model.Id.ToValidHtml();
    var tokenset = antiForgery.GetAndStoreTokens(Context);
}

<div class="container-fluid item-row-container horizontal-container">

    <!--image column-->
    <div class="col-2 padding-tiny">
        <img class="left-flex no-overflow" src="@Html.DisplayFor(x => x.UserImgUrl)" alt="Product image" />
    </div>

    <!--Description-->
    <div class="col-8 space-children no-overflow border-left-line padding-small">
        <h2 class="">@Html.DisplayFor(x => x.Title)</h2>
        <p class="">@Html.DisplayFor(x => x.Description)</p>
    </div>

    <!--Buttons & Price-->
    <div class="col-2 vertical-container space-children padding-tiny">

        <p class="text-end"><b>@Html.DisplayFor(x => x.Price)€</b></p>

        <div class="vertical-container no-overflow">
            <button type="button" id="edit@(id)">Edit</button>
            <button class="space-top-tiny round-right-down-corner" type="button" id="delete@(id)">Delete</button>
        </div>

    </div>

</div>

<script type="text/javascript">

    $("#edit@(id)").click(function () {
        window.location.href = '@(Url.Products().Edit())?id=@(Model.Id)';
    });

    $("#delete@(id)").click(function() {

        var model = @(Html.Raw(Json.Serialize(Model)))

        $.ajax({
            url: '@(Url.Products().Delete())',
            type: 'POST',
            headers: { "@(tokenset.HeaderName)": "@(tokenset.RequestToken)" },
            data: { "model": model },
            cache: false,
        }).done(function(data) {
            console.log("deleted successfully @(Model.Id)");
            pullUp($("#@(id).item-row"));
        }).fail(function(error) {
            console.error("failed to delete @(Model.Id). Reason:");
            console.error(error);
            notifyUser("There has been an error trying to delete @(Model.Title)");
        });


    });

</script>