@using SuperSold.UI.AspDotNet.ViewRouting;

@if(User.Identity!.IsAuthenticated) {
    <a class="btn btn-primary" href="@Url.Cart().Index()">Cart</a>
    <a class="btn btn-primary" href="@Url.Products().MyProducts()">My Products</a>
    <a class="btn btn-primary" href="@Url.Account().Logout()">Logout</a>
} else {    
    <a class="btn btn-primary" href="@Url.Account().Login()">Login</a>
    <a class="btn btn-primary" href="@Url.Account().SignUp()">Sign Up</a>
}